*.yaml linguist-language=YAML linguist-detectable
*.yml linguist-language=YAML linguist-detectable
.github/workflows/*.yaml linguist-language=YAML linguist-detectable
.github/workflows/*.yml linguist-language=YAML linguist-detectable
*.ts linguist-language=TypeScript linguist-detectable
**/*.ts linguist-language=TypeScript linguist-detectable
commitlint.config.js -linguist-detectable
*.config.js -linguist-detectable
docs/* linguist-documentation
