registry=https://npm.pkg.st/
use-node-version=20.0.0
node-linker=isolated
auto-install-peers=true
legacy-peer-deps=true
recursive-install=true
side-effects-cache=true
engine-strict=true
save-prefix=''
save-workspace-protocol=rolling
hoist=false
package-import-method=auto
hoist-pattern[]=*babel*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*@prettier/plugin-*
public-hoist-pattern[]=prettier-plugin-*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*@esm-bundle*
public-hoist-pattern[]=*addon*
public-hoist-pattern[]=*axe*
public-hoist-pattern[]=sb-*
public-hoist-pattern[]=*buf*
public-hoist-pattern[]=*@buf*

@buf:registry=https://buf.build/gen/npm/v1
